@charset "UTF-8";

body{
  background-color:#fbf9cc;
}

#main{
  width: 960px;
  margin: 40px auto;
}

.photo{
  float: left;
  margin-right: 30px;
}

.clear_photo{
  clear: left;
}

.photo_game:after{
  content: "";
  clear: both;
  display: block;
}

#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

th{
  border: 1px solid lightcoral;
  backgrond-color: mistyrose;
  padding: 5px;
  width: 100px;
  text-align: center;
  }

td{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 80px;
  text-align: center;
}

.btn{
  -webkit-appearance: none;
  margin: 5px;
}



