@charset "UTF-8";

body{
  background-color:#fbf9cc;
}

#main{
  width: 960px;
  margin: 40px auto;
}

.photo{
  float: left;
  margin-right: 30px;
}

.clear_photo{
  clear: left;
}

.photo_game:after{
  content: "";
  clear: both;
  display: block;
}

#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

tbody th{
  border: 1px solid lightcoral;
  backgrond-color: mistyrose;
  padding: 5px;
  width: 100px;
  text-align: center;
  }

thead td{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 80px;
  text-align: center;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px
}

.btn:hover{
  opacity: 0.5;
}

.btn:active{
  color: white;
}

.btn-submit{
  background-color: mistyrose;
}

.btn-reset{
  background-color: blue;
}



